# -----------------------------------------------------------------------------
# Additional Image Folder
# -----------------------------------------------------------------------------
photo_archive/

# -----------------------------------------------------------------------------
# R files
# -----------------------------------------------------------------------------
.Rproj.user
.Rhistory
.RData
.Ruserdata