# -----------------------------------------------------------------------------
# Additional Image Folder
# -----------------------------------------------------------------------------
photo_archive/

# -----------------------------------------------------------------------------
# R files
# -----------------------------------------------------------------------------
.Rproj.user
.Rhistory
.RData
.Ruserdata

# -----------------------------------------------------------------------------
# Printable ROV protocols doc
# -----------------------------------------------------------------------------
.ROV_protocols_printable.docx
